.listUser {
    margin: -1px;
    padding: 15px;
    border: 1px solid rgb(175, 175, 175);
    background-color: #e7dfc6;
}
    
.listUser:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}

.lasCHild {
    border-radius: 0 0 10px 0;
}

.authUser {
    margin: -1px;
    padding: 15px;
    border: 1px solid rgb(175, 175, 175);
    color: rgb(255, 255, 255); 
    border-radius: 0 10px 0 0;
    /* background-color:rgb(53, 76, 107); */
    background-color: #011638;
}

.StyleActive {
    color: black;
    background-color: white !important;
}

.a-none {
    color: black;
    text-transform: uppercase;
    text-decoration: none !important;
}

.tableHistory {
    border: 1px solid rgb(53, 76, 107);
}

.allHistory {
    background-color: #011638;
    color: white;
}

.titleHistory {
    padding: 8px 15px 8px 5px;
    border: 1px solid rgb(175, 175, 175) !important;
}

.showHistory {
    cursor: pointer;
}

.AllOrders {
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: bold;
}
 
.h {
    background-color: #e7dfc6;
}

.noOrder {
    color: rgb(221, 190, 15);
    transform: rotate(330deg);
    position: absolute;
    margin: 7%;
    font-size: 109px;
}

/* ------ CSS USER-CARDS  ----- */
.cards {
    /* margin-right: 15% !important; */
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 310px;
    height: 150px;
    color: white;
    background: linear-gradient(to bottom right, #0a234b, #011638);
    display: grid;
}

.titleCard {
    font-weight: bold;
}

.logocb {
    float: right;
    width: 100px;
}

.YourCards {
    border: 1px solid rgb(175, 175, 175);
}

.TitleCards {
    background-color: #e7dfc6;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgb(175, 175, 175);
    margin-bottom: 0px !important;
}

.divCard {
    padding: 20px;
    margin: -1px;
    border-bottom: 1px solid rgb(175, 175, 175);
}

.cardDelete {
    width: 150px;
    height: 50px;
}

.colorblack {
    background-color: black;
    width: 61px;
    height: 16px;
    position: absolute;
    margin-left: -18px;
    margin-top: -12px;
    border-radius: 35px 35px 0px 0px;
}

.pccv {
    color: white;
    background: #011638;
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
    box-shadow: -10px 5px 2px black;
    border: 1px solid white;
}

.spanccv {
    background-color: rgb(209, 209, 209);
    box-shadow: 0px 0px 5px rgb(209, 209, 209);
    color: black;
}

.cryptogramme {
    margin-bottom: 0;
    text-decoration: underline;
}

.addcard {
    /* float: right; */
    width: 20%;
    padding: 11px !important;
}

.inputCard {
    width: 100px !important;
    margin-right: 5%;
}

.slash {
    margin-left: -15px;
    margin-right: 8px;
}

.sizemin {
    font-size: 13px;
}

.positionCrypto {
    float: right;
}