.listUser {
    margin: -1px;
    padding: 15px;
    border: 1px solid rgb(175, 175, 175);
    background-color: #e7dfc6;
}
    
.listUser:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}

.lasCHild {
    border-radius: 0 0 10px 0;
}

.authUser {
    margin: -1px;
    padding: 15px;
    border: 1px solid rgb(175, 175, 175);
    color: rgb(255, 255, 255); 
    border-radius: 0 10px 0 0;
    /* background-color:rgb(53, 76, 107); */
    background-color: #011638;
}

.StyleActive {
    color: black;
    background-color: white !important;
}

.a-none {
    color: black;
    text-transform: uppercase;
    text-decoration: none !important;
}

.tableHistory {
    border: 1px solid rgb(53, 76, 107);
}

.allHistory {
    background-color: #011638;
    color: white;
}

.titleHistory {
    padding: 8px 15px 8px 5px;
    border: 1px solid rgb(175, 175, 175) !important;
}

.showHistory {
    cursor: pointer;
}

.AllOrders {
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: bold;
}
 
.h {
    background-color: #e7dfc6;
}

.noOrder {
    color: rgb(221, 190, 15);
    transform: rotate(330deg);
    position: absolute;
    margin: 7%;
    font-size: 109px;
}