.formCommand {
    width: 30%;
    margin: auto;
}

.resultCommand {
    float: right;
}

.borderBottomC {
    /* border-bottom: 1px solid lightgray; */
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.intransition {
    margin-left: 41.5%;
}

.disabledC {
    color: rgb(202, 202, 202);
}

.arrivedC {
    color: green;
    margin-left: 97%;
}

.bordertable {
    border: 1px solid rgb(197, 197, 197);
}

.tablOrder {
    width: 100%;
}

.titleTable {
    width: 30%;
    padding-top: 5px;
    background-color: rgb(248, 248, 248);
}

.errorfound {
    color: red;;
    font-weight: bold;
}