@import url('https://fonts.googleapis.com/css?family=Material+Icons');
#productsCart div {
    color: black;
    margin-top: 0.7vh;
    margin-left: 1vw;
}

#productsCart:link {
    color: black;
}

#adminLogo img,
#profileLogo img,
#searchLogo img {
    width: 60%;
    margin: 0;
    padding: 0;
}

#adminLogo {
    margin: 0;
    padding: 0;
}

#searchLogo {
    padding: 0.5vh;
}

#brandName {
    color: black;
}

#underline {
    display: flex;
}

#underline a:last-child {
    margin-left: auto;
}

.searchcontainer {
    margin-right: 1vw;
}

@media (min-width: 992px) {
    #navbarholder {
        display: flex;
        justify-content: space-between
    }
}

@media (max-width: 574px) {
    .searchcontainer {
        width: 40vw!important;
    }
    .searchcontainer input {
        width: 80%;
    }
    #productsCart {
        width: auto!important;
    }
}

@media (max-width: 524px) {
    .searchcontainer {
        width: 60vw!important;
    }
    .searchcontainer input {
        width: 80%;
    }
    #productsCart {
        width: auto!important;
    }
}


/* ------------ cart ---------*/

.cartContainer {
    position: absolute;
    right: 1vw;
    width: 22vw;
    background-color: white;
    top: 4vw;
    z-index: 400;
    padding: 1.5vw
}

.cartIcon {
    margin-top: 0.6vw;
}


.statutpanier {text-align: center;}
.productinCart a {font-size: 0.9em;}

.btn-cart {
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: .4s;
}

.productinCart {
    width: 100%;
}

.productinCart img {
    height: 4vw;
    float: left;
}

.tableborder {
    border-bottom: 1px solid black;
    padding: 1vw 0
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.detailsproduct {
    display: flex;
    font-size: 0.9em;
    justify-content: space-between
}