#productsCart {
  /* display: inline; */
  padding: 5px 0 0 5px;
}

#productsCart p {
  color: black;
  display: inline;
  padding: 50px 0 0 5px;
}

#productsCart:link {
  color: black;
}

#profileLogo img {
  margin-top: 5px;
  width: 75%;
  height: 100%;
}

#searchLogo img {
  margin-top: 5px;
  width: 75%;
  height: 100%;
}

#adminLogo img {
  margin-top: 5px;
  width: 75%;
  height: 100%;
}

#brandName {
  color: black;
}

#navbar {
  top: 0;
  /* position: fixed; */
  z-index: 1;
  width: 100%;
}
